* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-Red: hsl(0, 78%, 62%);
  --primary-Cyan: hsl(180, 62%, 55%);
  --primary-Orange: hsl(34, 97%, 64%);
  --primary-Blue: hsl(212, 86%, 64%);
  --primary-Very-Dark-Blue: hsl(234, 12%, 34%);
  --primary-Grayish-Blue: hsl(229, 6%, 66%);
  --primary-Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--primary-Very-Light-Gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 60px 20px;
}

#container #title {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

#container #title p:nth-child(1) {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#container #title p:nth-child(2) {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#container #title p:nth-child(3) {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  font-weight: 300;
  font-size: 0.5rem;
}

#container #section-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #section-container #section-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0px 20px;
}

#container #section-container #section-middle .section:nth-child(1) {
  margin-bottom: 20px;
}

.section {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-top: 3px solid;
  color: black;
}

.section p:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section p:nth-child(2) {
  font-weight: 300;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

.section span {
  display: block;
  width: 100%;
  height: 50px;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.section #supervisor {
  background-image: url("../Assets/img/icon-supervisor.svg");
}

.section #teambuilder {
  background-image: url("../Assets/img/icon-team-builder.svg");
}

.section #karma {
  background-image: url("../Assets/img/icon-karma.svg");
}

.section #calculator {
  background-image: url("../Assets/img/icon-calculator.svg");
}

.section.supervisor {
  border-color: var(--primary-Cyan);
}

.section.teambuilder {
  border-color: var(--primary-Red);
}

.section.karma {
  border-color: var(--primary-Orange);
}

.section.calculator {
  border-color: var(--primary-Blue);
}

#section-test {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#test-01 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#test-02 {
  -ms-grid-column: 2;
  grid-column: 2;
}

#test-03 {
  -ms-grid-column: 2;
  grid-column: 2;
}

#test-04 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media only screen and (max-width: 1000px) {
  #container #section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #container #section-container #section-middle {
    margin: 0px;
  }
  .section.section.supervisor {
    margin-bottom: 20px;
  }
  .section.calculator {
    margin-top: 20px;
  }
  #section-test {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #test-01 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #test-02 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #test-03 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #test-04 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media only screen and (max-width: 376px) {
  #section-test {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  #test-01 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #test-02 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #test-03 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #test-04 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}
/*# sourceMappingURL=style.css.map */